 .project-container{
    max-width: 768px;
} 
.project-tabs{
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}
.project-tab-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}
.project-tab-title:hover{
    color: var(--title-color-dark);
}
.project-section{
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
}
.project-main-content{
    display: none;
}
 .project-main-content-active{
    display: block;
 }
 /* .project-data{
    display: grid;
    grid-template-columns: 2fr max-content 2fr;
    column-gap: 1.5rem;
 } */



.project-icon{
    font-size: 1.8rem;
    
}
.project-active{
    color: var(--title-color-dark);
}
.projects-content{
    display: grid;
   grid-template-columns: repeat(2 , 350px);
   justify-content: center;
   align-items: center;
   column-gap: 4rem;
   row-gap: 3rem;
   
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    
    
}
.project-img{
    /* width: 400px;
    height: 200px;
    border-radius: 0.5rem; */
    width: 295px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    
}
.project-title,
.project-detail{
    font-size: var(--small-font-size);
}
.project-icon{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.project-button{
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
    margin-bottom: var(--mb-0-25);

}

.project-card-icon{
    font-size: 1rem;
    font-weight: var(--font-medium);
    color: var(--title-color);
}
.project-card-icon:hover{
    color: var(--title-color-dark);
}


@media screen and (max-width: 992px) {
     .projects-content{
        grid-template-columns: repeat(1 , 350px);
        /* margin-left: 4rem; */
        text-align: center;

    } 
    .project-card{
        padding: 1rem
    }
    .project-img{
        margin-bottom: 0.75rem;
    }
    
    
  }
  
  @media screen and (max-width: 576px) {
    .projects-content{
        grid-template-columns: repeat(1 , 300px);
        /* margin-left: 4rem; */
        text-align: center;

    } 
    .project-img{
        width: 100%;
    }
    .project-card{
        gap: 0.5rem;

    }
    .project-icon{
        flex-direction: column;
        gap: 0.1rem;
    }
    .project-title,
.project-detail{
    font-size: var(--smaller-font-size);
}
  }

  @media screen and (max-width: 360px) {
    .projects-content{
        grid-template-columns: repeat(1 , 250px);
        /* margin-left: 4rem; */
        text-align: center;

    } 
    /* .project-img{
        width: 130px;
        height: 130px;
    } */
    /* .project-card{
        gap: 0.5rem;

    }
    .project-icon{
        flex-direction: column;
        gap: 0.1rem;
    } */
  }
  
 